@using Web.Global
@{
    ViewBag.Title = "TDMU - Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = (User)Session[Constants.USER];
}
@section Scripts {
<script id="filterContent" type="text/html">
    <div class="bg-white rounded border p-4 mb-4">
        <h5>Lọc</h5>
        <form id="frmFilter">
            <div class="form-group">
                <label class="form-label">Thể loại</label>
                <select id="slCategory" class="selectpicker" data-search="true" data-search-placeholder="Tên thể loại">
                    <option value="">Tất cả thể loại</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Nhà xuất bản</label>
                <select id="slPublisher" class="selectpicker" data-search="true" data-search-placeholder="Tên xuất bản">
                    <option value="">Tất cả nhà xuất bản</option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Năm xuất bản</label>
                <select id="slPublishYear" class="selectpicker" data-search="true" data-search-placeholder="Năm xuất bản">
                    <option value="">Tất cả năm xuất bản</option>
                    @for (int i = DateTime.Now.Year; i > 1990; i--)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="form-label">Số sách/Trang: <span id="lblPageSize">6</span></label>

                <input type="range" class="form-range" min="6" max="12" step="3" id="slPageSize" value="6">
            </div>
            <div>

                <button type="submit" class="btn btn-primary btn-icon-split me-1 mb-2">
                    <span class="icon text-white-50">
                        <i class="fas fa-filter"></i>
                    </span>
                    <span class="text">Lọc</span>
                </button>

                <button type="button" id="btnResetFilter" class="btn btn-primary btn-icon-split mb-2">
                    <span class="icon text-white-50">
                        <i class="fas fa-sync-alt"></i>
                    </span>
                    <span class="text">Làm mới</span>
                </button>

            </div>
        </form>
    </div>
</script>

    <script id="bookItem" type="text/html">
        <div class="col-6 col-xl-4">
            <div class="card border-0" style="height: 100%">
                <div>
                    <img src="{{Image}}" class="rounded border-bottom border" alt="{{Title}}" style="height: 180px; width: 120px; max-width: 100%">
                </div>
                <div class="card-body pb-2">
                    <h6 class="card-title">
                        <a href="{{CategoryMetaTitle}}/{{MetaTitle}}" title="{{Title}}" class="text-dark">
                            {{Title}}
                        </a>
                    </h6>
                </div>
                <div class="pb-3">
                    <button data-id="{{Id}}" class="btnRegisBorrow btn btn-primary btn-sm btn-icon-split mt-auto">
                        <span class="icon">
                            <i class="fas fa-edit"></i>
                        </span>
                        <span class="text">Đăng ký mượn</span>
                    </button>
                </div>
            </div>
        </div>
    </script>
    <script>
        var config = {
            user: {
                username: '@Html.Raw(user != null ? user.Username : "")'
            },
            category: {
                id: '@Html.Raw(ViewBag.category)',
                name: '@Html.Raw(ViewBag.categoryName)'
            },
            publisher: {
                id: '@Html.Raw(ViewBag.publisher)',
                name: '@Html.Raw(ViewBag.publisherName)'
            },
            publishYear: 0,
            page: {
                index: @Html.Raw(ViewBag.page),
                size: @Html.Raw(ViewBag.pageSize),
                total: 1
            }
        }
    </script>
    <script src="~/Scripts/Client/home.js"></script>
}
@Html.Action("SlidePartial", "Home")
<div class="row pt-5">
    <div class="col-sm-12 col-md-4 col-xl-3" id="filter"></div>

    <div class="col-sm-12 col-md-8 col-xl-9">
        <div id="books" class="row g-3 text-center mb-3"></div>
        <div>
            <div id="lblPagination" class="mb-3"></div>
            <div id="pagination" class="pagination justify-content-center"></div>
        </div>
    </div>
</div>